<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlkf.oidemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 定义Provider权限 -->
    <permission
        android:name="me.yuhao.database.READ"
        android:protectionLevel="normal" />
    <!-- 定义广播权限 -->
    <permission
        android:name="com.yuhao.BROCAST"
        android:protectionLevel="normal" />
    <!-- 申请广播权限:申请了这个权限才能够收到带有这个权限的广播 -->
    <uses-permission android:name="com.yuhao.BROCAST" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.activity.ClassDetailActivity" />
        <activity android:name=".personal.activitys.LoginActivity" />
        <activity android:name=".contacts.activity.CacheActivity" />
        <activity android:name=".contacts.activity.TakePhoneActivity" />
        <activity android:name=".contacts.provider.ProviderActivity" />
        <activity android:name=".contacts.brocastreceiver.BrocastReceiverActivity" />
        <!-- 适配7.0拍照权限 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jlkf.oidemo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--
            Provider注册
            android:exported 设置此provider是否可以被其他应用使用。
            android:readPermission 该provider的读权限的标识
            android:writePermission 该provider的写权限标识
            android:permission provider读写权限标识
            android:grantUriPermissions 临时权限标识
        -->
        <provider
            android:name=".contacts.provider.TestProvider"
            android:authorities="me.pengtao.contentprovidertest"
            android:exported="true"
            android:readPermission="me.yuhao.database.READ" />

        <!--
            静态注册广播 静态注册是常驻型，也就是说当应用程序关闭后，如果有信息广播来，程序也会被系统调用自动运行
            priority测试有序广播
        -->
        <receiver
            android:name=".contacts.brocastreceiver.MyReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.yuhao.BROCAST">
            <intent-filter android:priority="100">
                <action android:name="com.yuhao.broadcast" />
            </intent-filter>
        </receiver>

        <activity android:name=".home.activity.SetEnterActivity"></activity>
    </application>

</manifest>